/* Define color variables for the light theme */
:root {
  --color-text: #212529;
  --color-text-highlight: #212529;
  --color-background: #ffffff;
  --color-surface: #f8f9fa;
  --color-primary: #90F209;
  --color-accent: #007bff;
  --color-primary-hover: #c2ff6d;
  --color-accent-hover: #3d9bff;
  --border-color: #dee2e6;
  --shadow-color: rgba(0, 0, 0, 0.3);
}

/* Override variables for the dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #e9ecef;
    --color-text-highlight: #212529;
    --color-background: #202020;
    --color-surface: #1e1e1e;
    --color-primary: #90F209;
    --color-accent: #007bff;
    --color-primary-hover: #c2ff6d;
    --color-accent-hover: #3d9bff;
    --border-color: #495057;
    --shadow-color: rgba(0, 0, 0, 0.5);
  }
}

/* Apply base styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: var(--color-text);
  background-color: var(--color-background);
  transition: color 0.2s, background-color 0.2s;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
  font-family: "Poppins", sans-serif;
}

.app-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.app-header .subtitle {
  margin: 0.25rem 0 0;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
}

.app-main {
  flex-grow: 1;
  width: 100%;
  padding: 1rem 1rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.app-footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  font-size: 0.9rem;
  color: #777;
  font-family: "Poppins", sans-serif;
}